@page "/"

<h1><u>OOP2 Final Project</u></h1>

<b>CPRG-211-F</b>
<br/>
<b>Daniel Asefa</b>
<br />
<br />

<h2>Objective</h2>
Create a simple to-do list application capable of writing and reading to a database
